# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=seudominio.com
SUBDOMAIN=app

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=seu-email@seudominio.com

# New York is the default value if not set. This is the timezone for n8n.
GENERIC_TIMEZONE=America/Sao_Paulo

# Qdrant API KEY to guarantee the protection of your data.
QDRANT__SERVICE__API_KEY=sua-api-key-aqui
